@model BlogWeb.Areas.Admin.Models.UserWithRolesViewModel

<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">MENÜ</div>
                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Yönetim Paneli
                </a>
                <a class="nav-link" asp-area="null" asp-controller="Home" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-blog"></i></div>
                    Blog Modülü
                </a>
                <div class="sb-sidenav-menu-heading">İçerikler</div>
                <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-th-list"></i></div>
                    Kategoriler
                </a>
                <a class="nav-link" asp-area="Admin" asp-controller="Blog" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                    Makaleler
                </a>
                <a class="nav-link" asp-area="Admin" asp-controller="Comment" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
                    Yorumlar
                </a>
                <div class="sb-sidenav-menu-heading">Kullanıcılar</div>
                @if (Model.Roles.Any(r => r.Equals("SuperAdmin") || r.Equals("Role.Read")))
                {
                <a class="nav-link" asp-area="Admin" asp-controller="Role" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-shield"></i></div>
                    Roller
                </a>}
                @if (Model.Roles.Any(r => r.Equals("SuperAdmin") || r.Equals("Role.Read")))
                {
                <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Kullanıcılar
                </a>}
                <div class="sb-sidenav-menu-heading">Ayarlar</div>
                <a class="nav-link" asp-area="Admin" asp-controller="Options" asp-action="GeneralSettings">
                    <div class="sb-nav-link-icon"><i class="fas fa-tools"></i></div>
                    Genel Ayarlar
                </a>
                <a class="nav-link" asp-area="Admin" asp-controller="Options" asp-action="EmailSettings">
                    <div class="sb-nav-link-icon"><i class="fas fa-at"></i></div>
                    E-Posta Ayarları
                </a>
                <a class="nav-link" asp-area="Admin" asp-controller="Options" asp-action="BlogRightSideBarWidgetSettings">
                    <div class="sb-nav-link-icon"><i class="fas fa-newspaper"></i></div>
                    Makale Sayfaları için Widget Ayarları
                </a>
                <a class="nav-link" asp-area="Admin" asp-controller="Options" asp-action="About">
                    <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>
                    Hakkımızda Sayfa İçerikleri
                </a>
                <div class="sb-sidenav-menu-heading">Diğer</div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                    Arşiv
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="DeletedCategories">Kategoriler</a>
                        <a class="nav-link" asp-area="Admin" asp-controller="Blog" asp-action="DeletedBlogs">Makaleler</a>
                        <a class="nav-link" asp-area="Admin" asp-controller="Comment" asp-action="DeletedComments">Yorumlar</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Giriş Yapan Kullanıcı:</div>
            @Model.User.UserName
        </div>
    </nav>
</div>