@model EntityLayer.Dtos.UserDto
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fas fa-newspaper"></span> @Model.User.Id No'lu Kullanıcı Detayı Görüntüleniyor...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="İptal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Hakkında</label>
                        <textarea class="form-control" asp-for="User.About" rows="6" disabled="disabled"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Twitter</label>
                        <input type="text" class="form-control" asp-for="User.TwitterLink" disabled="disabled" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Facebook</label>
                        <input type="text" class="form-control" asp-for="User.FacebookLink" disabled="disabled" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Instagram</label>
                        <input type="text" class="form-control" asp-for="User.InstagramLink" disabled="disabled" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>LinkedIn</label>
                        <input type="text" class="form-control" asp-for="User.LinkedInLink" disabled="disabled" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Youtube</label>
                        <input type="text" class="form-control" asp-for="User.YoutubeLink" disabled="disabled" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>GitHub</label>
                        <input type="text" class="form-control" asp-for="User.GitHubLink" disabled="disabled" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Website</label>
                        <input type="text" class="form-control" asp-for="User.WebsiteLink" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal"><span class="fas fa-times"></span> Kapat</button>
            </div>
        </div>
    </div>
</div>
