@model EntityLayer.Dtos.UserPasswordChangeDto

@{
    Layout = "_Layout";
    ViewBag.Title = "Şifre Değiştir";
}

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="text-center"><span class="fas fa-key"></span> Şifre Değiştir</h4>
            </div>
            <div class="card-body">
                <form asp-controller="User" asp-action="PasswordChange" method="post">
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary"></div>
                    <div class="form-group">
                        <label>Şu Anki Şifreniz</label>
                        <input type="password" class="form-control" asp-for="CurrentPassword" placeholder="Lütfen, şu anki şifrenizi giriniz." />
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="form-group">
                        <label>Yeni Şifreniz</label>
                        <input type="password" class="form-control" asp-for="NewPassword" placeholder="Lütfen, yeni şifrenizi giriniz." />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label>Yeni Şifrenizin Tekrarı</label>
                        <input type="password" class="form-control" asp-for="RepeatPassword" placeholder="Lütfen, tekrardan yeni şifrenizi giriniz." />
                        <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"><span class="fas fa-save"></span> Kaydet</button>
                        <a class="btn btn-danger btn-block" asp-area="Admin" asp-controller="Home" asp-action="Index"><span class="fas fa-times"></span>  İptal</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>