
@{
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@ViewBag.Title | Çok Yakında</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/ComingSoon/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ComingSoon/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ComingSoon/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ComingSoon/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ComingSoon/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ComingSoon/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/ComingSoon/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <!--  -->
    <div class="simpleslide100">
        <div class="simpleslide100-item bg-img1" style="background-image: url('/ComingSoon/images/bg01.jpg');"></div>
        <div class="simpleslide100-item bg-img1" style="background-image: url('/ComingSoon/images/bg02.jpg');"></div>
    </div>

    <div class="flex-col-c-sb size1 overlay1">
        <!--  -->
        <div class="w-full flex-w flex-sb-m p-l-80 p-r-80 p-t-22 p-lr-15-sm">
            <div class="wrappic1 m-r-30 m-t-10 m-b-10">
                <a asp-controller="Home" asp-action="Index"><img src="~/ComingSoon/images/icons/logo.png" alt="LOGO"></a>
            </div>

            <div class="flex-w m-t-10 m-b-10">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="size2 m1-txt1 flex-c-m how-btn1 trans-04">
                    ADMIN
                </a>
            </div>
        </div>

        <!--  -->
       @RenderBody()

        <!--  -->
        <div class="flex-w flex-c-m p-b-35">
            <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
                <i class="fa fa-facebook"></i>
            </a>

            <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
                <i class="fa fa-twitter"></i>
            </a>

            <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
                <i class="fa fa-youtube-play"></i>
            </a>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/ComingSoon/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/ComingSoon/vendor/bootstrap/js/popper.js"></script>
    <script src="~/ComingSoon/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/ComingSoon/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/ComingSoon/vendor/countdowntime/moment.min.js"></script>
    <script src="~/ComingSoon/vendor/countdowntime/moment-timezone.min.js"></script>
    <script src="~/ComingSoon/vendor/countdowntime/moment-timezone-with-data.min.js"></script>
    <script src="~/ComingSoon/vendor/countdowntime/countdowntime.js"></script>
    <script>
		$('.cd100').countdown100({
			/*Set Endtime here*/
			/*Endtime must be > current time*/
			endtimeYear: 0,
			endtimeMonth: 0,
			endtimeDate: 35,
			endtimeHours: 19,
			endtimeMinutes: 0,
			endtimeSeconds: 0,
			timeZone: ""
			// ex:  timeZone: "America/New_York"
			//go to " http://momentjs.com/timezone/ " to get timezone
		});
    </script>
    <!--===============================================================================================-->
    <script src="~/ComingSoon/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
    </script>
    <!--===============================================================================================-->
    <script src="~/ComingSoon/js/main.js"></script>

</body>
</html>