<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
    <span>Hoş Geldiniz</span>
    <span class="mx-lg-4 mx-md-2  mx-1">
        <a asp-controller="Home" asp-action="SignIn">
            <i class="fas fa-lock"></i> Giriş Yap
        </a>
    </span>
    <span>
        <a asp-controller="Register" asp-action="Index">
            <i class="far fa-user"></i> Üye Ol
        </a>
    </span>
</div>