@model EntityLayer.Dtos.EmailSendDto

 @{
     Layout = "_ContactLayout";
     ViewBag.Title = "İletişim";
     ViewBag.Description = "Bizlerle iletişime geçin. Fatih's Blog";
     ViewBag.Tags = "Contact, Contact Us, Bizle İletişime Geçin,İletişim";
     ViewBag.Author = "Fatih's Blog";
 }


<div class="container contact-form">
    <div class="contact-image">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
    </div>
    <form asp-controller="Home" asp-action="Contact" method="post">
        <h3>Bizlere bir mesaj bırakın</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="txtName" class="form-control" placeholder="İsminiz" asp-for="Name" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtEmail" class="form-control" placeholder="E-Posta Adresiniz" asp-for="Email" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtSubject" class="form-control" placeholder="Konu / Başlık" asp-for="Subject" />
                </div>
                <div class="form-group">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Gönder" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" class="form-control" placeholder="Mesajınız..." asp-for="Message" style="width: 100%; height: 150px;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>