@{
    Layout="_ComingSoonLayout";
    ViewBag.Title = "Çok Yakında!";
}

<div class="flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-120">
    <h3 class="l1-txt2 txt-center p-b-40 respon1">
        ÇOK YAKINDA
    </h3>

    <div class="flex-w flex-c-m cd100">
        <div class="flex-col-c wsize1 m-b-30">
            <span class="l1-txt2 p-b-9 days">35</span>
            <span class="s1-txt1 where1 p-l-35">Gün</span>
        </div>

        <div class="flex-col-c wsize1 m-b-30">
            <span class="l1-txt2 p-b-9 hours">17</span>
            <span class="s1-txt1 where1 p-l-35">Saat</span>
        </div>

        <div class="flex-col-c wsize1 m-b-30">
            <span class="l1-txt2 p-b-9 minutes">50</span>
            <span class="s1-txt1 where1 p-l-35">Dakika</span>
        </div>

        <div class="flex-col-c wsize1 m-b-30">
            <span class="l1-txt2 p-b-9 seconds">39</span>
            <span class="s1-txt1 where1 p-l-35">Saniye</span>
        </div>
    </div>
</div>