@model EntityLayer.Concrete.AboutUsPageInfo

@{
    Layout = "_Layout";
    ViewBag.Title = "Hakkımızda Sayfa İçerikleri";
}
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card mt-1 mb-1">
            <div class="card-header">
                <h4 class="text-center"><span class="fas fa-edit"></span> Hakkımızda Sayfa İçerikleri</h4>
            </div>
            <div class="card-body">
                <form asp-controller="Options" asp-action="About" method="post" id="form-aboutuspageinfo-update">
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary"></div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Başlık</label>
                            <input class="form-control" asp-for="Header" placeholder="Lütfen, başlık bilgisini giriniz." />
                            <span class="text-danger" asp-validation-for="Header"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label>İçerik</label>
                            <textarea class="form-control" asp-for="Content" placeholder="Lütfen, içerik bilgisini giriniz." rows="4"></textarea>
                            <span class="text-danger" asp-validation-for="Content"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Seo Yazar Bilgisi</label>
                            <input type="text" class="form-control" asp-for="SeoAuthor" placeholder="Lütfen, seo yazar bilgisini giriniz." />
                            <span class="text-danger" asp-validation-for="SeoAuthor"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Seo Etiket Bilgisi</label>
                            <input type="text" class="form-control" asp-for="SeoTags" placeholder="Lütfen, seo etiket bilgisini giriniz." />
                            <span class="text-danger" asp-validation-for="SeoTags"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Seo Açıklama Bilgisi</label>
                            <input type="text" class="form-control" asp-for="SeoDescription" placeholder="Lütfen, seo açıklama bilgisinizi giriniz." />
                            <span class="text-danger" asp-validation-for="SeoDescription"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-primary"><span class="fas fa-save"></span> Kaydet</button>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="Home" asp-action="Index"><span class="fas fa-times"></span> İptal</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
